/* For the choice of webpage colors, I primarily selected colors that appear in the style of the video. The aim is to achieve a sense of visual unity */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header styling */
header {
  background-color:#1c1c1c;
  color: var(--main-text-color);
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Navigation styling */
nav {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 25px;
  }

  h1 {
    font-size: 70px;
  }
  
  .single-day-regular {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

/* The main content container */
.container {
  width: 100%;
  border: 2px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #0F5F5C;
  }

/* Media player styling */
.media-player {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
margin-bottom: 175px;
}

.media-player video {
  width: 100%;
  height: auto;
}

/* Progress-bar styling */
.progress-bar {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #ccc;
  margin-top: 10px;
}

#progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #E5EC9D;
}

/* Media controls styling */
.controls-container {
  width: 100%;
  border: 1px ;
  display: center;
  flex-direction: column; 
}

.container,
.controls-container {
  padding: 20px;
}

.custom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.video-controls {
  display: flex;
  align-items: center;
}

.center-controls {
  margin-right: 180px;
  margin-left: 210px;
}

.custom-controls button {
  background-color: #FFCCCB;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px; 
}

#replay-button {
order: 1; 
}

#rewind-button {
order: 3;
}

#play-pause-button {
order: 4; 
}

#forward-button {
order: 5;
}

#mute-unmute-button {
order: 2; 
}

#decrease-volume-button {
order: 6; 
}

#increase-volume-button {
order: 7; 
}

#fullscreen-button{
order: 8; 
}

/* Footer styling */
.controls-container {
text-align: center;
padding: 25px; 
background-color: #e2dcc0;
}

.box {
display: inline-block;
text-align: left; 
padding: 20px; 
border: 1px; 
}

.text-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 10px;
}
