* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  border: 2px;
}

.controls-container {
  width: 100%;
  border: 2px ;
}

.container,
.controls-container {
  padding: 20px;

}

.progress-bar {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #ccc;
  margin-top: 10px;
}

#progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: blue;
}

.custom-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.video-controls {
  display: flex;
  align-items: center;
}

.media-player {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
margin-bottom: 100px;

}

.media-player video {
  width: 100%;
  height: auto;
}

.custom-controls button {
  background-color: #FFCCCB;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px; 
}

#replay-button {
order: 1; 
}

#rewind-button {
order: 3;
}

#play-pause-button {
order: 4; 
}

#forward-button {
order: 5;
}

#mute-unmute-button {
order: 2; 
}

#decrease-volume-button {
order: 6; 
}

#increase-volume-button {
order: 7; 
}
#fullscreen-button{
order: 8; 
}
nav {
display: flex;
justify-content: center;
margin-top: 60px;
margin-bottom: 50px;
}
.container {
display: flex;
flex-direction: column;

background-color: green;
}

.controls-container {
text-align: center;
padding: 20px; 
background-color: yellow;
}

.box {
display: inline-block;
text-align: left; 
padding: 20px; 
border: 1px; 

}

.text-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 10px;
}