html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Text and font styles */
h1 {
  font-size: 50px;
}

h2 {
  font-size: 33px;
  color:white
}

h3 {
  font-size: 21px;
  color:rgb(41, 20, 82) 
}

h4 {
  font-size: 17px;
}

p {
  font-size: 25px;
  color:white
}

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.single-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.color-white {
  color: white;
}

.color-purple {
  color: rgb(41, 20, 82);
}


/* layout-content */
.center {
  text-align: center;
}

.with-margin1 {
  margin-bottom: 100px;
}

.with-margin2 {
  margin-bottom: 120px;
}

.with-margin3 {
  margin-bottom: 190px;
}

.with-margin4 {
  margin-top: 100px;
}

.with-padding1 {
  padding: 20px;

}

.with-padding2{
  padding: 16px;
}


/* layout-total */
.assignment-name{
  background-color: #74749A;
  border-radius: 35px;
  width: 86%;
  margin: auto;
}

.week2-part{
  background-color: #74749A;
  width: 134px;
  margin: 150px auto 50px;
  border-radius: 15px;
}

.week3-part{
  background-color: #74749A;
  width: 134px;
  margin: 170px auto 50px;
  border-radius: 15px;
}

.background{
  background-color: #8484A7;
  height: 6950px;
  width: 1200px;
  margin: -40px auto 50px;
  padding-top: 100px;
  border-radius: 81px;
  box-sizing: border-box;
}

.coloured-background{
  background-color: #74749A;
  padding: 100px;
}

.week2{
  background-color: #CBCBDA;
  height: auto;
  width: 1020px;
  margin: 50px auto ;
  padding: 104px;
  box-sizing: border-box;
  border-radius: 77px;
}

.week3{
  background-color: #CBCBDA;
  height: auto;
  width: 1020px;
  margin: auto;
  padding: 104px;
  box-sizing: border-box;
  border-radius: 77px;
}

.answer{
  background-color:#AAAAC1;
  border-radius: 21px;
  margin: 50px;
}